---
---
<div class="project-grid">
  <slot />
</div>

<style>
  .project-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-6);
  }

  @media (min-width: 640px) {
    .project-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
